* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
  
header {
    background: burlywood;
    padding: 10px 40px;
    border-bottom: 1px solid #ddd;
}
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
  
nav a.active,
nav a:hover {
    color: red;
}
  
.hero {
    background: url("../images/home.jpg")  center/cover no-repeat; 
    margin-top:30px;   
    height: 140vh;
    display: flow-root;
    align-items: center;
    padding-left: 40px;
    color: white;

}

.student-info {
    text-align: center;
    background:#f4f4f4;
    padding:20px;
    margin-top: 40px;
    border-top: 2px solid #ddd;
    font-size: 15px;
}
.student-info h3 {
    margin-bottom: 10px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.hero .btn {
    padding: 12px 50px;

background: red;
    color: white;
    text-decoration:none;
    border-radius: 20px;
}
  
.about, .contact, .programs, .gallery {
    width: 80%;
    margin: 50px auto;
}
  
.about {
    display: flex;
    gap: 60px;
}
  
.about img {
    width: 45%;
    border-radius: 30px;
}
  programs {
    text-align: center;
    

  }
table {
    width: 100%;
    border-collapse: collapse;
margin-top: 25px;
}
  
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}
  
.gallery .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 40px;
    margin-top: 50px;
}
  
.gallery img {
    width: 100%;
    border-radius: 30px;
}
  
footer {
    text-align: center;
    padding: 40px;
    background: #111;
    color: white;
    margin-top: 60px;
}

@media (max-width: 600px){
   h2{
    font-size: 10px;
   }
  
   nav ul {
    font-size: 12px;
    gap: 10px;
   }   
  
  .about{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
 .about img {
    height: 300px;
    width: 150px;
 }
 #img-text{
    font-size: 10px;
 }
 footer{
    font-size: 10px;
 }
 table{
    width: 300px;
    height: 500px;
 }
 .programs h1,h2{
    font-size: 20px;
 }

 .gallery h2{
    font-size: 15px;
 }
 
 .contact h2{
    font-size: 15px;
 }
 .contact p{
    font-size: 15px;
 }
}
